// menú navegación //
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10; /* z-index más alto */
}
main{
    margin-top: 0px;
}
.pag-header{
    /* position: fixed; */
    background-color: rgba($color: #408db1, $alpha: 0.8);
    width: calc(100%);
    margin: auto;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-header{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            margin-right: 20px;
            height: 50px;
            width: 50px;
        }
        h1{
            margin: 0;
            color: #f9f9f9;
            font-size: 1.8rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    .nav{
        display: flex;
        align-items: center;
        list-style: none;
        font-weight: 400;
        a{
            color: #f9f9f9;
            padding: 5px;
            margin-right: 10px;
            font-size: 1.1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

// End menú navegación //