.servicios__container{
    padding-top: 10%;
    width: 100%;
    height: 95vh;
    background-color: #f9f9f9;
    .servicios__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .servicios__card-group{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .servicios-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        background-color:rgb(238, 239, 241);
        width: 300px;
        height: 400px;
        margin: 40px 60px;
        border-radius: 25px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        .servicios__img{
            background-color: rgb(151, 151, 151);
            width: 300px;
            height: 200px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            margin: 0px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
        }
        .servicios__parrafo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 15px;
        }
    }
}